<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /golf-join/

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^([0-9]+)/?$ view.php?join_id=$1 [L,QSA]
</IfModule>
